.Home_wrapper__1Yy9_{
    display:block
}
.Home_overlay__1K56d{
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    transition:opacity .2s ease-in-out;
    font-family:lustprodidone-no1uploadedfile,serif
}
.Home_overlay__1K56d.Home_loading__2IgO9{
    opacity:1;
    display:flex
}
.Home_overlay__1K56d .Home_loader__2fdQp{
    z-index:499;
    font-size:120px
}
@media (min-width:768px){
    .Home_overlay__1K56d .Home_loader__2fdQp{
        font-size:270px
    }
}
.Home_overlay__1K56d .Home_title__1nnIR{
    text-transform:uppercase;
    font-size:20px;
    margin-bottom:40px
}
.Home_overlay__1K56d .Home_copyright__uaI24{
    font-size:12px;
    text-align:center;
    margin-top:50px;
    font-family:andale_monoregular,sans-serif
}
.BlobCarousel_wrapper__Qt2Q9{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:500;
    height:100%;
    background-color:#fff4e3;
    color:#000;
    transition:color .3s;
    overflow:hidden;
    transform-origin:50%
}
.BlobCarousel_canvas__2a1Is{
    width:100vw;
    height:100vh;
    z-index:1;
    position:absolute;
    pointer-events:none
}
.BlobCarousel_guiWrapper__3jeRN{
    z-index:10000;
    position:absolute
}
.BlobCarousel_titleWrapper__60GxR{
    z-index:0;
    position:absolute;
    top:40vh;
    left:20vw;
    pointer-events:none
}
.BlobCarousel_titleWrapperFront__8EroN{
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:40vh;
    left:20px;
    transition:opacity 1s
}
@media (min-width:768px){
    .BlobCarousel_titleWrapperFront__8EroN{
        left:20vw
    }
}
.BlobCarousel_withOverlay__3n1tJ{
    mix-blend-mode:overlay
}
.BlobCarousel_shadowTitle__fGwvR{
    opacity:0
}
.BlobCarousel_arrowLeft__27jlI{
    top:75vh;
    left:20vw;
    position:absolute;
    cursor:pointer;
    z-index:100
}
.BlobCarousel_arrowLeft__27jlI svg g{
    transition:fill .3s
}
.BlobCarousel_scrollText__19rt8{
    text-transform:uppercase;
    font-family:andale_monoregular,sans-serif;
    font-size:18px;
    display:block;
    position:absolute;
    top:30vh;
    right:15vw;
    z-index:10;
    width:200px;
    transform:rotate(90deg);
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    color:inherit;
    opacity:0;
    transition:opacity 1s
}
@media (min-width:768px){
    .BlobCarousel_scrollText__19rt8{
        opacity:1
    }
}
.ProjectTitle_wrapper__2hE2N{
    display:block;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer
}
.ProjectTitle_title__2HNNn{
    font-size:15vw;
    font-family:lustprodidone-no1uploadedfile,serif;
    color:#000;
    line-height:200px;
    display:block;
    width:100vw;
    transition:color .6s;
    position:relative;
    text-transform:capitalize;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ProjectTitle_title__2HNNn div{
    display:inline-block
}
@media (min-width:768px){
    .ProjectTitle_title__2HNNn{
        font-size:15vw
    }
}
@media (min-width:1240px){
    .ProjectTitle_title__2HNNn{
        font-size:170px
    }
}
@media (min-width:1400px){
    .ProjectTitle_title__2HNNn{
        font-size:170px
    }
}
@media (min-width:1600px){
    .ProjectTitle_title__2HNNn{
        font-size:200px
    }
}
.ProjectTitle_titleShadow__1UFqW{
    font-size:20vw;
    font-family:lustprodidone-no1uploadedfile,serif;
    color:#000;
    line-height:240px;
    display:block;
    width:100vw;
    transition:color .6s;
    position:absolute
}
.ProjectTitle_titleShadow__1UFqW div{
    display:inline-block
}
@media (min-width:1240px){
    .ProjectTitle_titleShadow__1UFqW{
        font-size:220px
    }
}
.ProjectTitle_isTransparent__3h9mI{
    color:#fff
}
.BlobCarouselCounter_wrapper__2G_KO{
    display:block;
    position:absolute;
    bottom:15vh;
    right:15vw;
    z-index:10;
    width:200px;
    transform:rotate(90deg);
    transition:opacity .5s
}
.BlobCarouselCounter_active__Z_wDz{
    opacity:0
}
.BlobCarouselCounter_innerWrapper__3LHxI{
    position:relative;
    width:100px;
    font-family:andale_monoregular,sans-serif;
    color:inherit;
    font-size:18px
}
.BlobCarouselCounter_innerWrapper__3LHxI span{
    display:inline-block;
    margin-right:15px;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.BlobCarouselLoader_wrapper__3FLkN{
    display:block;
    position:absolute;
    width:270px;
    height:30px;
    top:20vh;
    left:20vw;
    z-index:10;
    transition:opacity .5s
}
.BlobCarouselLoader_active__2RiKQ{
    opacity:0
}
.BlobCarouselLoader_innerWrapper__35BxO{
    position:relative
}
.BlobCarouselLoader_line__1FItP{
    width:100px;
    height:1px;
    background:#000;
    top:15px;
    position:absolute
}
.BlobCarouselLoader_text__34nyE{
    font-size:30px;
    position:absolute;
    left:121px;
    font-family:lustprodidone-no1uploadedfile,serif;
    width:270px;
    text-transform:lowercase;
    color:inherit
}
.BlobCarouselLoader_text__34nyE div{
    overflow:hidden
}
.Projects_wrapper__3V6s_{
    display:flex;
    align-items:center;
    width:100vw;
    height:calc(100vh - 30px)
}
.Projects_list__3LKdN{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto
}
.Projects_item__1TaAY{
    width:300px;
    height:300px;
    flex-shrink:0
}
.ProjectsList_wrapper__18cE3{
    display:block;
    position:relative;
    background:#00f;
    width:100%;
    height:100%
}
.ProjectsList_canvas__39u8B{
    background:red;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0
}
.ProjectDetail_wrapper__1gNNg{
    display:block;
    overflow-x:hidden
}
.ProjectDetailHero_wrapper__2lxvB{
    opacity:0;
    display:flex;
    flex-direction:column;
    min-height:100vh
}
@media (min-width:375px){
    .ProjectDetailHero_wrapper__2lxvB{
        flex-direction:row
    }
}
@media (min-width:375px){
    .ProjectDetailHero_wrapperLeft__wWsuz{
        width:40%;
        align-self:center
    }
}
@media (min-width:1400px){
    .ProjectDetailHero_wrapperLeft__wWsuz{
        width:50%
    }
}
.ProjectDetailHero_wrapperRight__2R3d7{
    font-family:Helvetica\, Arial,sans-serif;
    padding-left:40px
}
@media (min-width:375px){
    .ProjectDetailHero_wrapperRight__2R3d7{
        align-self:center;
        width:50%
    }
}
.ProjectDetailHero_number__y_aF7{
    font-size:60vw;
    pointer-events:none;
    color:#000;
    font-family:lustprodidone-no1uploadedfile,serif;
    margin-left:-100px
}
@media (min-width:375px){
    .ProjectDetailHero_number__y_aF7{
        font-size:40vw;
        margin-left:-20vw
    }
}
@media (min-width:1400px){
    .ProjectDetailHero_number__y_aF7{
        font-size:600px;
        margin-left:-250px
    }
}
.ProjectDetailHero_title__1Ct16{
    font-size:40px;
    font-weight:700;
    margin-bottom:30px
}
@media (min-width:768px){
    .ProjectDetailHero_title__1Ct16{
        font-size:70px
    }
}
.ProjectDetailHero_subTitle__3IUoh{
    font-size:14px;
    font-weight:700;
    margin-bottom:50px;
    max-width:310px
}
@media (min-width:768px){
    .ProjectDetailHero_subTitle__3IUoh{
        font-size:25px
    }
}
.ProjectDetailHero_bottomWrapper__10dxg{
    display:flex;
    font-family:andale_monoregular,sans-serif;
    max-width:500px
}
.ProjectDetailHero_keywords__2blQU{
    width:50%;
    font-size:13px
}
.ProjectDetailHero_keywords__2blQU li{
    margin-bottom:10px
}
.ProjectDetailImages_wrapper__154gD{
    display:block;
    width:100%;
    position:relative
}
.ProjectDetailImages_imageWrapper__1NQwO{
    position:relative;
    margin-bottom:50px;
    overflow:hidden;
    height:100%
}
.ProjectDetailImages_image__3SY75{
    width:100%;
    top:0;
    vertical-align:middle;
    display:block;
    object-fit:cover
}
.ProjectDetailImages_colorWrapper__ayx6e{
    box-sizing:border-box;
    display:block;
    position:absolute;
    width:100%;
    height:95%;
    top:3%;
    left:0
}
.BottomDetail_wrapper__2c44R,.ProjectDetailImages_contentWrapper__l_irV{
    max-width:1160px;
    margin:0 auto
}
.BottomDetail_wrapper__2c44R{
    width:100vw;
    display:block;
    width:100%
}
@media (min-width:768px){
    .BottomDetail_wrapper__2c44R{
        height:100vh
    }
}
.BottomDetail_contentWrapper__O-3Xm{
    padding-bottom:40px
}
@media (min-width:768px){
    .BottomDetail_contentWrapper__O-3Xm{
        display:flex;
        flex-direction:row;
        width:100%;
        height:100vh;
        padding-bottom:0
    }
}
.BottomDetail_left__2hkuv{
    width:100%;
    position:relative
}
.BottomDetail_left__2hkuv h5{
    font-size:25px;
    font-family:Helvetica\, Arial,sans-serif;
    font-weight:700;
    margin-bottom:40px
}
.BottomDetail_left__2hkuv ul li{
    font-size:16px;
    font-family:andale_monoregular,sans-serif;
    text-decoration:underline;
    margin-bottom:10px
}
@media (min-width:768px){
    .BottomDetail_left__2hkuv{
        width:50%;
        align-self:center
    }
}
.BottomDetail_leftContent__RT8c4{
    max-width:250px;
    margin-left:40px
}
@media (min-width:768px){
    .BottomDetail_leftContent__RT8c4{
        margin-left:auto;
        margin-right:auto
    }
}
.BottomDetail_right__2wTGe{
    width:100%;
    position:relative
}
.BottomDetail_right__2wTGe span{
    font-family:lustprodidone-no1uploadedfile,serif;
    font-size:65px;
    line-height:1;
    display:block;
    max-width:300px
}
@media (min-width:768px){
    .BottomDetail_right__2wTGe{
        width:50%;
        align-self:center
    }
    .BottomDetail_right__2wTGe span{
        font-size:95px;
        line-height:75px
    }
}
.BottomDetail_rightWrapper__XDKCM{
    cursor:pointer;
    margin-left:40px;
    position:relative;
    max-width:460px;
    margin-top:80px
}
.BottomDetail_rightWrapper__XDKCM svg{
    margin-top:20px
}
@media (min-width:768px){
    .BottomDetail_rightWrapper__XDKCM{
        margin-left:auto;
        margin-right:auto;
        margin-top:0
    }
    .BottomDetail_rightWrapper__XDKCM svg{
        position:absolute;
        margin-top:0;
        right:0;
        top:20px
    }
}
.About_wrapper__22Exl{
    display:block;
    padding:60px 20px 40px;
    max-width:1160px;
    margin:0 auto;
    opacity:0
}
.About_textAbout__2ri1O{
    font-family:andale_monoregular,sans-serif;
    font-size:14px;
    display:block;
    padding-left:75px;
    position:relative;
    margin-bottom:20px
}
.About_textAbout__2ri1O:before{
    content:"";
    display:block;
    width:70px;
    height:1px;
    position:absolute;
    top:10px;
    left:0;
    background:#000
}
@media (min-width:560px){
    .About_textAbout__2ri1O{
        margin-top:40px
    }
}
.About_heroWrapper__2JgUm{
    margin-bottom:60px;
    position:relative
}
.About_heroWrapper__2JgUm h1{
    font-family:lustprodidone-no1uploadedfile,serif;
    font-size:23vw
}
.About_heroWrapper__2JgUm .About_years__ZLuT2{
    font-family:andale_monoregular,sans-serif;
    font-size:14px
}
.About_heroWrapper__2JgUm .About_darkMode__3-Vzq{
    position:absolute;
    right:0;
    bottom:60px;
    width:116px;
    height:116px
}
@media (max-width:767px){
    .About_heroWrapper__2JgUm .About_darkMode__3-Vzq{
        display:none
    }
}
.About_heroWrapper__2JgUm .About_darkMode__3-Vzq:hover{
    animation-duration:2s;
    animation-name:About_spin__34lBM;
    animation-iteration-count:infinite;
    animation-timing-function:linear
}
.About_heroWrapper__2JgUm .About_darkMode__3-Vzq:before{
    content:"";
    display:block;
    position:absolute;
    top:-2440px;
    left:-2440px;
    width:5000px;
    height:5000px;
    border-radius:50%;
    transform:scale(.01)
}
@keyframes About_spin__34lBM{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
@keyframes About_dark-grow__2OCKk{
    0%{
        background-color:#000;
        transform:scale(.01)
    }
    90%{
        background-color:#000;
        transform:scale(1)
    }
    to{
        background-color:initial;
        transform:scale(.01)
    }
}
@media (min-width:560px){
    .About_heroWrapper__2JgUm h1{
        font-size:20vw
    }
    .About_heroWrapper__2JgUm .About_years__ZLuT2{
        position:absolute;
        right:0;
        display:block;
        top:0
    }
}
@media (min-width:1200px){
    .About_heroWrapper__2JgUm h1{
        font-size:220px
    }
}
.About_gridTop__8g95u{
    margin-top:60px;
    font-family:Helvetica\, Arial,sans-serif;
    font-size:14px
}
.About_gridTop__8g95u span{
    margin-top:40px;
    font-weight:700;
    display:block;
    margin-bottom:20px
}
.About_gridTop__8g95u p{
    line-height:18px;
    margin-top:5px;
    margin-bottom:15px
}
@media (min-width:768px){
    .About_gridTop__8g95u{
        display:flex
    }
    .About_gridTop__8g95u div{
        width:33.3%;
        display:block
    }
    .About_gridTop__8g95u div div{
        display:block
    }
    .About_gridTop__8g95u .About_twoCols__26Gij{
        display:flex
    }
    .About_gridTop__8g95u .About_twoCols__26Gij span{
        margin-top:5px;
        display:block;
        width:30%;
        padding-left:20px
    }
    .About_gridTop__8g95u .About_twoCols__26Gij div{
        display:block;
        width:70%
    }
}
.About_gridBottom__3v3ZM{
    font:Helvetica\, Arial,sans-serif;
    font-size:14px
}
.About_gridBottom__3v3ZM h5{
    font-size:14px;
    font-weight:700;
    margin-bottom:15px;
    margin-top:30px
}
.About_gridBottom__3v3ZM a{
    text-decoration:underline
}
@media (min-width:768px){
    .About_gridBottom__3v3ZM{
        display:flex;
        margin-top:80px
    }
    .About_gridBottom__3v3ZM .About_gridBottomColumn__3UHrm{
        margin:0 auto 0 0
    }
    .About_gridBottom__3v3ZM .About_gridBottomColumn__3UHrm a{
        max-width:150px;
        display:block
    }
    .About_gridBottom__3v3ZM div{
        width:17%
    }
    .About_gridBottom__3v3ZM div:nth-child(2){
        width:32%;
        padding-right:40px
    }
    .About_gridBottom__3v3ZM div:nth-child(2) div{
        width:100%
    }
}
.About_gridBottomColumn__3UHrm ul li{
    margin-bottom:5px;
    display:block;
    line-height:20px
}
@media (min-width:768px){
    .About_gridBottomColumn__3UHrm{
        padding:0
    }
}
.About_gridBottomColumnFlex__23po8{
    display:flex;
    flex-direction:row
}
.About_gridBottomColumnFlex__23po8 ul{
    display:block;
    width:70%
}
.About_gridBottomColumnFlex__23po8 ul span{
    font-weight:700;
    display:block
}
.About_gridBottomColumnFlex__23po8 ul:nth-child(2){
    width:30%;
    text-align:right;
    font-weight:700;
    font-size:12px
}
.About_gridBottomColumnFlex__23po8 ul li{
    display:block;
    margin-bottom:10px;
    height:40px;
    line-height:20px
}
.About_bottomContent__6NcxG{
    margin-top:60px;
    margin-bottom:60px
}
.About_bottomContent__6NcxG h5{
    font-family:lustprodidone-no1uploadedfile,serif;
    font-size:30px;
    margin-bottom:20px;
    position:relative
}
.About_bottomContent__6NcxG h5 span{
    display:none;
    position:absolute;
    right:0;
    bottom:20px;
    width:200px
}
.About_bottomContent__6NcxG h5 span svg{
    width:100%;
    height:auto
}
.About_bottomContent__6NcxG a{
    display:block;
    width:100px;
    font-weight:700
}
@media (min-width:768px){
    .About_bottomContent__6NcxG{
        position:relative;
        display:flex
    }
    .About_bottomContent__6NcxG h5{
        width:50%;
        font-size:60px
    }
    .About_bottomContent__6NcxG h5 span{
        display:block;
        width:300px;
        right:40px
    }
    .About_bottomContent__6NcxG p{
        width:40%;
        display:block;
        position:absolute;
        bottom:40px;
        left:60%;
        overflow:hidden
    }
}
.About_disclaimer__1rb02{
    font-family:andale_monoregular,sans-serif;
    font-size:12px
}
.About_disclaimer__1rb02 u{
    text-decoration:underline
}
.about-image{
    display:block;
    width:100%;
    height:auto
}
@media (max-width:767px){
    .about-image{
        display:none
    }
}
.about-image-dark{
    display:none;
    width:100%;
    height:auto
}
.dark-button{
    position:absolute
}
.dark-mode .textAbout:before{
    background:#fff
}
.dark-mode .arrow-contact{
    fill:#fff
}
.dark-button-image{
    display:block
}
.dark-button-image-white,.dark-mode .about-image,.dark-mode .dark-button-image{
    display:none
}
.dark-mode .about-image-dark,.dark-mode .dark-button-image-white{
    display:block
}
@media (max-width:767px){
    .-hide-mobile{
        display:none
    }
}
@media (max-width:767px){
    .Works_wrapper__2PCLy{
        overflow-x:hidden;
        overflow-y:scroll
    }
}
@media (min-width:768px){
    .Works_wrapper__2PCLy>div{
        display:flex;
        align-items:center;
        width:100vw;
        height:calc(100vh - 30px)
    }
    .Works_wrapper__2PCLy>div::-webkit-scrollbar{
        width:0;
        background:transparent
    }
    .Works_wrapper__2PCLy>div::-webkit-scrollbar-thumb{
        background:transparent
    }
}
.Works_list__2NL8l{
    display:flex
}
@media (max-width:767px){
    .Works_list__2NL8l{
        flex-direction:column;
        width:100%
    }
}
@media (min-width:768px){
    .Works_list__2NL8l{
        flex-wrap:nowrap;
        overflow-x:auto;
        scroll-behavior:smooth
    }
    .Works_list__2NL8l::-webkit-scrollbar{
        width:0;
        background:transparent
    }
    .Works_list__2NL8l::-webkit-scrollbar-thumb{
        background:transparent
    }
}
.Works_item__3oBqx{
    position:relative;
    font-family:lustprodidone-no1uploadedfile,serif;
    min-width:400px;
    height:300px;
    flex-shrink:0
}
@media (max-width:767px){
    .Works_item__3oBqx:nth-child(odd){
        align-self:flex-start;
        margin-left:-40px
    }
    .Works_item__3oBqx:nth-child(2n){
        align-self:flex-end;
        margin-right:-40px
    }
}
@media (min-width:768px){
    .Works_item__3oBqx{
        height:400px;
        margin-left:180px
    }
    .Works_item__3oBqx:first-child{
        margin-left:-20px
    }
    .Works_item__3oBqx:last-child{
        padding-right:20px
    }
}
.Works_item__3oBqx .Works_number__2Scwu{
    position:relative;
    display:flex;
    align-items:center;
    font-size:16px
}
.Works_item__3oBqx .Works_number__2Scwu:before{
    content:"";
    display:inline-block;
    margin-right:15px;
    width:66px;
    height:1px;
    background-color:#000
}
.Works_item__3oBqx .Works_title__19n7n{
    position:relative;
    font-size:40px;
    text-transform:uppercase;
    margin-top:50px;
    transition:color .2s ease-in-out
}
@media (min-width:768px){
    .Works_item__3oBqx .Works_title__19n7n{
        font-size:90px
    }
}
.Works_item__3oBqx:hover .Works_title__19n7n{
    color:#fff
}
.Works_item__3oBqx:hover .Works_clippedImage__1_3jB{
    opacity:1
}
.Works_path__1A85a{
    position:absolute;
    width:0;
    height:0
}
.Works_clipped__f1Wu2{
    position:absolute;
    width:100%;
    height:345px;
    z-index:0
}
@media (max-width:767px){
    .Works_clipped__f1Wu2{
        transform:scale(.7)!important
    }
}
.Works_clippedImage__1_3jB{
    width:100%;
    height:340px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:100%;
    opacity:0;
    transform:translateX(0) translateY(0);
    transition:all .2s ease-in-out
}
.book{
    top:0
}
.filtro{
    top:-16px;
    left:35px
}
.museum{
    top:-15px;
    left:60px
}
.labell,.parkit{
    top:-16px
}
.parkit{
    left:65px
}
.expo{
    top:-5px
}
.library{
    top:-16px;
    left:60px
}
.wrapper{
    margin:60px 0 0;
    padding-bottom:60px;
    overflowy:scroll
}
.title{
    position:fixed;
    top:50vh;
    left:50vw;
    font-family:lustprodidone-no1uploadedfile,serif;
    font-size:60px;
    text-transform:uppercase;
    transform:translate(-50%,-50%)
}
@media (min-width:768px){
    .title{
        font-size:120px
    }
}
.list{
    position:relative;
    flex-grow:1;
    flex-wrap:wrap
}
.item,.list{
    display:flex;
    justify-content:center
}
.item{
    align-items:center;
    width:100%;
    height:337px
}
@media (min-width:768px){
    .item{
        width:50%
    }
}
@media (min-width:1024px){
    .item{
        width:450px;
        margin-bottom:160px
    }
}
.item.sm .image{
    width:302px;
    height:226px
}
.item.left{
    justify-content:flex-start
}
.item.right{
    justify-content:flex-end
}
.item.top{
    align-items:flex-start
}
.item.top .image{
    transform:translateY(-50%)
}
.item.bottom{
    align-items:flex-end
}
.item.bottom .image{
    transform:translateY(50%)
}
.item .image{
    display:flex;
    width:450px;
    height:100%;
    overflow:hidden
}
.item .image .image-inner{
    height:100%;
    width:100%;
    background-position:50%;
    background-size:cover;
    transition:all .2s ease-in-out
}
.item .image .image-inner:hover{
    transform:scale(1.1)
}
.Navigation_wrapper__2syws{
    font-size:13px;
    font-family:andale_monoregular,sans-serif;
    text-transform:lowercase
}
.Navigation_wrapperBottom__1aGsF,.Navigation_wrapperTop__2MSs4{
    position:fixed;
    right:0;
    left:0;
    justify-content:space-between;
    padding:40px;
    display:none;
    pointer-events:none;
    z-index:501
}
.Navigation_wrapperBottom__1aGsF a,.Navigation_wrapperTop__2MSs4 a{
    pointer-events:all
}
@media (min-width:768px){
    .Navigation_wrapperBottom__1aGsF,.Navigation_wrapperTop__2MSs4{
        display:flex
    }
}
.Navigation_wrapperTop__2MSs4{
    top:0;
    padding-bottom:0
}
.Navigation_wrapperBottom__1aGsF{
    bottom:0;
    padding-top:0
}
.Navigation_secondaryMenu__2detH{
    display:flex
}
.Navigation_secondaryMenu__2detH li:not(:first-child){
    margin-left:30px
}
.navigationMobile{
    position:fixed;
    display:flex;
    flex-direction:column;
    top:0;
    right:0;
    left:0;
    padding:20px;
    z-index:501;
    transition:all .2s ease-in-out;
    pointer-events:none
}
.navigationMobile .navigationMobileInner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:40px;
    font-family:andale_monoregular,sans-serif
}
.navigationMobile .mobileMenu{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
    opacity:0;
    transition:all .2s ease-in-out .2s
}
.navigationMobile .hamburgerButton{
    width:35px;
    height:25px;
    position:relative;
    border-bottom:2px solid #292929;
    transition:all .2s ease-in-out;
    pointer-events:all
}
.navigationMobile .hamburgerButton:after,.navigationMobile .hamburgerButton:before{
    content:"";
    width:35px;
    height:2px;
    background-color:#292929;
    position:absolute;
    transition:all .2s ease-in-out
}
.navigationMobile .hamburgerButton:before{
    top:0
}
.navigationMobile .hamburgerButton:after{
    top:11px
}
.navigationMobile.-active{
    background-color:#fff4e3;
    bottom:0;
    pointer-events:all
}
.navigationMobile.-active .hamburgerButton{
    border-bottom-color:transparent
}
.navigationMobile.-active .hamburgerButton:before{
    top:11px;
    transform:rotate(45deg)
}
.navigationMobile.-active .hamburgerButton:after{
    transform:rotate(-45deg)
}
.navigationMobile.-active .mobileMenu{
    opacity:1
}
.navigationMobile .primaryMenu{
    font-size:22px;
    line-height:1.5;
    font-family:andale_monoregular,sans-serif
}
.navigationMobile .primaryMenu li{
    margin-bottom:20px
}
.navigationMobile .secondaryMenu li{
    margin-bottom:10px
}
.navigationMobile .copyright,.navigationMobile .secondaryMenu{
    font-family:Helvetica\, Arial,sans-serif;
    font-size:14px;
    line-height:1.5
}
.navigationMobile .copyrightEmail{
    font-weight:700
}
.navigationMobile .copyrightCol{
    display:flex;
    justify-content:space-between
}
.navigationMobile .copyrightDate{
    font-family:andale_monoregular,sans-serif
}
@media (min-width:768px){
    .navigationMobile{
        display:none
    }
}
.Cursor_mouseCursor__5lYLS{
    pointer-events:none;
    cursor:none;
    top:0;
    left:0;
    z-index:1000
}
.Cursor_mouseCursor__5lYLS span{
    font-family:andale_monoregular,sans-serif;
    font-size:3px;
    color:#000;
    width:10px;
    height:10px;
    word-wrap:break;
    position:fixed;
    display:block;
    line-height:5px;
    text-align:center;
    text-transform:uppercase;
    top:52%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index:100001
}
.Cursor_cursorBall__1eCJD{
    position:fixed;
    top:0;
    left:0;
    mix-blend-mode:difference;
    z-index:1000;
    transform:translateX(50%) translateY(50%)
}
.Cursor_cursorBall__1eCJD circle{
    fill:#fff
}
.Cursor_ballSmall__2Q0KO{
    opacity:1;
    z-index:1001;
    position:absolute;
    top:0;
    left:0
}
.Cursor_ballSmall__2Q0KO circle{
    fill:red
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
main{
    display:block
}
h1{
    font-size:2em;
    margin:.67em 0
}
hr{
    box-sizing:initial;
    height:0;
    overflow:visible
}
pre{
    font-family:monospace,monospace;
    font-size:1em
}
a{
    background-color:initial
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
b,strong{
    font-weight:bolder
}
code,kbd,samp{
    font-family:monospace,monospace;
    font-size:1em
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:initial
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
img{
    border-style:none
}
button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    padding:.35em .75em .625em
}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
progress{
    vertical-align:initial
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
details{
    display:block
}
summary{
    display:list-item
}
[hidden],template{
    display:none
}
*,:after,:before{
    box-sizing:border-box;
    -webkit-user-drag:none;
    margin:0;
    padding:0
}
:focus{
    outline:none
}
figure{
    margin:0
}
a{
    color:inherit;
    text-decoration:none
}
svg{
    display:block
}
button{
    background-color:initial;
    cursor:pointer
}
li{
    list-style-type:none
}
address{
    font-style:normal
}
input,select,textarea{
    font-size:14px
}
button,input,textarea{
    border:none;
    border-radius:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill{
    color:#fff!important;
    -webkit-box-shadow:0 0 0 30px #fff inset;
    background-color:initial
}
input[type=number]{
    -moz-appearance:textfield
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0
}
textarea{
    resize:none
}
a,span{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent
}
h1,h2,h3,h4,h5{
    margin:0;
    font-weight:inherit
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 2, 2019 */
@font-face{
    font-family:lustprodidone-no1uploadedfile;
    src:url(../fonts/media-lustprodidone-no1-webfont.c6eea5fa.woff2) format("woff2"),url(../fonts/media-lustprodidone-no1-webfont.2041d979.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:lustprodidone-no2uploadedfile;
    src:url(../fonts/media-lustprodidone-no2-webfont.4ae736ce.woff2) format("woff2"),url(../fonts/media-lustprodidone-no2-webfont.f8739b2c.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:andale_monoregular;
    src:url(../fonts/media-andale_mono-webfont.93095d79.woff2) format("woff2"),url(../fonts/media-andale_mono-webfont.7c9c0300.woff) format("woff");
    font-weight:400;
    font-style:normal
}
.text-01{
    font-size:11px;
    font-weight:400
}
@media (min-width:768px){
    .text-01{
        font-size:16px
    }
}
@media (min-width:1024px){
    .text-01{
        font-size:12px
    }
}
@media (min-width:1600px){
    .text-01{
        font-size:14px
    }
}
.text-02{
    font-size:12px;
    font-weight:300;
    line-height:1.66
}
@media (min-width:768px){
    .text-02{
        font-size:18px
    }
}
@media (min-width:1024px){
    .text-02{
        font-size:14px
    }
}
@media (min-width:1600px){
    .text-02{
        font-size:17px
    }
}
.text-03{
    font-size:14px;
    font-weight:300;
    line-height:1.66
}
@media (min-width:768px){
    .text-03{
        font-size:20px
    }
}
@media (min-width:1024px){
    .text-03{
        font-size:18px
    }
}
@media (min-width:1600px){
    .text-03{
        font-size:24px
    }
}
.text-04{
    font-size:10px;
    font-weight:400;
    line-height:1.45
}
@media (min-width:768px){
    .text-04{
        font-size:12px
    }
}
@media (min-width:1024px){
    .text-04{
        font-size:10px
    }
}
@media (min-width:1600px){
    .text-04{
        font-size:11px
    }
}
.text-05{
    font-size:14px;
    font-weight:300;
    line-height:1.66
}
@media (min-width:768px){
    .text-05{
        font-size:18px
    }
}
@media (min-width:1024px){
    .text-05{
        font-size:16px
    }
}
@media (min-width:1600px){
    .text-05{
        font-size:18px
    }
}
.text-06{
    font-size:12px;
    font-weight:400
}
@media (min-width:768px){
    .text-06{
        font-size:18px
    }
}
@media (min-width:1024px){
    .text-06{
        font-size:14px
    }
}
@media (min-width:1600px){
    .text-06{
        font-size:16px
    }
}
.text-07{
    font-size:40px;
    font-weight:400
}
.text-08{
    font-size:5vw;
    font-weight:300;
    line-height:1.66
}
@media (min-width:768px){
    .text-08{
        font-size:20px
    }
}
@media (min-width:1024px){
    .text-08{
        font-size:18px
    }
}
.text-09{
    font-size:4vw;
    font-weight:300
}
@media (min-width:768px){
    .text-09{
        font-size:18px
    }
}
@media (min-width:1024px){
    .text-09{
        font-size:16px
    }
}
.text-10{
    font-size:16px;
    font-weight:300;
    line-height:1.66
}
@media (min-width:768px){
    .text-10{
        font-size:18px
    }
}
@media (min-width:1024px){
    .text-10{
        font-size:22px
    }
}
@media (min-width:1600px){
    .text-10{
        font-size:24px
    }
}
.title-01{
    font-size:40px;
    line-height:1.3
}
@media (min-width:768px){
    .title-01{
        font-size:60px
    }
}
@media (min-width:1024px){
    .title-01{
        font-size:55px
    }
}
@media (min-width:1600px){
    .title-01{
        font-size:80px
    }
}
.title-02{
    font-size:30px
}
@media (min-width:768px){
    .title-02{
        font-size:50px
    }
}
@media (min-width:1024px){
    .title-02{
        font-size:40px
    }
}
@media (min-width:1600px){
    .title-02{
        font-size:60px
    }
}
.title-03{
    font-size:22px;
    line-height:1.5
}
@media (min-width:768px){
    .title-03{
        font-size:35px
    }
}
@media (min-width:1024px){
    .title-03{
        font-size:28px
    }
}
@media (min-width:1600px){
    .title-03{
        font-size:40px
    }
}
.title-04{
    font-size:16px;
    font-weight:100;
    line-height:1.5
}
@media (min-width:768px){
    .title-04{
        font-size:30px
    }
}
@media (min-width:1024px){
    .title-04{
        font-size:20px
    }
}
@media (min-width:1600px){
    .title-04{
        font-size:40px
    }
}
.title-04{
    font-size:22px;
    font-weight:300
}
@media (min-width:1024px){
    .title-04{
        font-size:30px
    }
}
body,html{
    width:100%;
    height:100%;
    background:#fff4e3
}
body{
    color:#292929;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-weight:300;
    -webkit-font-smoothing:antialiased
}
body.js-overflow-hidden{
    overflow:hidden
}
#root{
    position:relative;
    width:100%;
    height:100%
}
.App{
    padding-top:30px;
    overflow:hidden
}
.dark-mode{
    color:#fff
}
.dark-mode,.dark-mode [class^=wrapper]{
    background-color:#010b1a!important
}
body{
    cursor:none
}
.App{
    background-color:#fff4e3
}
:hover{
    cursor:none
}
/*# sourceMappingURL=main.9d0caac4.chunk.css.map */
